* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/*  COMMON WIDTH */
.upper-section,
.Nav,
.all-content,
.discount,.container2 {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
}

/*  TOP BAR  */
.all {
  background-color: black;
}

.upper-section {
  display: grid;
  grid-template-columns: 1fr auto;
  color: white;
  align-items: center;
}

.upper-section a {
  color: white;
  margin-left: 15px;
  opacity: 0.7;
  text-decoration: none;
}

/* NAVBAR*/
.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.Nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.logo {
  border: 2px solid black;
  padding: 5px 10px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul li a:hover {
  color: blue;
  border-bottom: 2px solid blue;
  transition: 0.2s;
}
#cart i {
  background-color: black;
  color: white;
  padding: 10px 15px;
}

/*  HERO SECTION  */
.homepage {
  background-color: skyblue;
}

.all-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.text h1 {
  color: blue;
  font-size: 40px;
  margin: 15px 0;
}

.text p {
  color: white;
}

.image img {
  width: 500px;
}
.text,.image{
  margin-top: 150px;
  margin-bottom: 150px;
}

.product-btn {
  margin-top: 30px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
.product-btn:hover{
   background-color: white;
  color: black;
  padding: 10px 30px;
  transition: 0.5s;
  cursor: pointer;
}
/* DISCOUNT SECTION */
.discount {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 60px auto;
}

.cart1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.disimage img {
  width: 150px;
}

/* product selection tamplate */
.container2{
 display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 4.8rem;

}
#productContainer{
  padding: 15px;
    margin-top: 80px;
  width: 300px;
  box-shadow: 1px 2px 4px  rgb(0 0 0 / 0.8);
}
.stockElement{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  /* colors applied specifically to the borders of various UI elements, like containers and separators. */
  border: 0.2rem solid var(--bordercolor);
  border-radius: 0.8rem;
  
}
.stockElement button{
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
 border: 1px solid black;
 border-radius: 5px;
 padding: 0 7px;
}
.stockElement button:hover{
  cursor: pointer;
}

 #productContainer{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 4.8rem;
}
.productPriceElecment{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-common-heading{
  font-size: 30px;
  font-weight: bold;
}
.productStockElement,.productQuantityElement,.stockElement{
  display: flex;
  gap: 10px;
  align-items: center;
}
.category{
  border: 1px solid black;
  border-radius: 5px;
  background-color:rgb(237, 217, 220);
  padding: 10px;
}
.add-to-cart-button {
   margin-top: 30px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.add-to-cart-button:hover{
    background-color: white;
  color: black;
  padding: 10px 30px;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid black;
}
/* styling of footer */

.footer {
  background-color: #0f172a;
  color: #cbd5e1;
  padding-top: 100px;
  margin-top: 80px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-box h3 {
  margin-bottom: 15px;
  color: white;
}

.footer-logo {
  color: white;
  border: 2px solid white;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #cbd5e1;
}

.footer-box ul li a:hover {
  color: #38bdf8;
}

/* Newsletter */
.footer-form {
  display: flex;
  margin-top: 10px;
}

.footer-form input {
  padding: 8px;
  border: none;
  outline: none;
  flex: 1;
}

.footer-form button {
  padding: 8px 15px;
  background-color: #38bdf8;
  border: none;
  cursor: pointer;
  color: black;
}

/* Bottom footer */
.footer-bottom {
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  background-color: #020617;
  font-size: 14px;
}
