.whole-page{
  font-family: 'Times New Roman', Times, serif;

}
.upper-section,.Nav,.all-content {
 margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}
.navbar{
  background-color: white;
}
.all{
  background-color: black;
}
.upper-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  
}
.upper-section a{
  color: white;
  opacity: 0.7;
}
.Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul{
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;

}
.navbar ul li a{
  text-decoration: none;
  color: black;
}
.homepage{
background-color: skyblue;
}
.all-content{
  
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.image img{
  width: 400px;
}
.text,.image{
  margin-top: 120px;
  margin-bottom: 90px;
}
.product{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

