body{
  font-family: 'Times New Roman', Times, serif;

}
.title{
  margin-left: 200px;
  margin-right: 200px;
}
.nav-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.nav ul{
  display: flex;
  justify-content:space-between;
  list-style: none;
  gap: 20px;
  font-weight: 500;
}
.nav ul  a{
color: black;
list-style-type: none;
text-decoration: none;
}
.nav ul  a:hover{
  border-bottom: 2px solid red;
}
.search{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* edit of products */
.mainpage{
  flex-wrap: wrap;
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 100px;
}
.products{
  width: 200px;
}
.product-title{
  font-weight: bold;
}
img{
  width: 250px;
  height: 300px;
}